In [1]:
//82%
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler

In [2]:
import pandas as pd
import numpy as np

In [3]:
cols = [f'C{i}' for i in range(1,57) ]
int_cols = [f'C{i}' for i in range(1,12) ]

In [4]:
df_train = pd.read_csv('train.csv',names=cols)
df_test = pd.read_csv('test.csv',names=cols[:55])

In [5]:
sc = StandardScaler()
df_train[int_cols] = sc.fit_transform(df_train[int_cols])
df_test[int_cols] = sc.fit_transform(df_test[int_cols])

In [6]:
df_train.head()

,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,...,C47,C48,C49,C50,C51,C52,C53,C54,C55,C56
0,0.933004,1.760238,-0.400681,1.056245,0.767481,2.868112,0.849060,1.490781,-0.675210,-1.792759,...,0,0,0,0,0,0,0,1,0,0
1,-1.056159,0.477017,-0.543573,-0.681745,-0.685561,-0.676803,1.129632,0.817984,0.185496,-0.485918,...,0,0,0,0,0,0,0,0,0,1
2,-1.336302,-1.460326,-0.847217,0.387787,-0.845442,-0.711054,-1.041279,0.705851,-1.080248,-1.165475,...,0,0,0,0,0,0,0,0,0,1
3,-1.678958,-0.055573,-0.186344,-1.483895,0.753374,-0.574052,-0.309741,0.444208,0.742424,0.167502,...,0,0,0,0,0,0,0,0,0,1
4,0.858700,0.251828,1.528354,2.660543,0.033907,0.932965,-0.242481,-3.443060,-2.143474,1.239112,...,0,1,0,0,0,0,0,0,0,1

In [7]:
df_test.head()

,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,...,C46,C47,C48,C49,C50,C51,C52,C53,C54,C55
0,-0.187222,-2.163808,1.233122,1.183627,-0.059282,-0.020335,-1.380055,-2.283644,0.238380,1.895687,...,0,0,0,0,0,0,0,0,0,0
1,-0.191898,-0.602290,-0.600947,-0.814341,0.289291,-0.192557,-0.608965,0.737988,0.187898,-0.375414,...,0,0,0,0,0,0,0,0,0,0
2,-0.745748,-0.473946,-0.359386,-0.947539,-0.502064,-0.382002,-0.853347,0.737988,0.490786,-0.218786,...,0,0,0,0,0,0,0,0,0,0
3,1.382582,0.980618,-0.162559,0.251242,-0.558589,-0.450891,-0.886789,1.148333,0.440305,-0.793087,...,0,0,0,0,0,0,0,0,0,0
4,1.665986,-0.530988,-0.869347,1.050429,-0.681061,-0.364780,0.608444,0.663379,-1.780874,-1.628434,...,0,0,0,0,0,0,0,0,0,0

In [12]:
model_lr = LinearRegression()

In [13]:
model_lr.fit(df_train.drop('C56',axis=1),df_train['C56'])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [14]:
y_pred = model_lr.predict(df_test)

In [ ]:
data_dict = {'key':df_test['C1'],'score':y_pred}
pd.DataFrame().from_dict(data_dict).to_csv('output_lr.csv',index=False)